*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: $font-text-basic;
  font-weight: 400;
  font-size: $font-size-default;
  color: $color-text-default;
  background-color: $color-background-default;
  cursor: default;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  outline: none;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
